@tailwind base;
@tailwind components;
@tailwind utilities;

ul {list-style-type: initial;
	& ul {list-style-type: circle;}  
}
ol {list-style-type: decimal;}
ul, ol {@apply ml-8 lg:text-lg lg:mb-6;} 
.ul {list-style-type: none; margin-left: 0;}   
.a {@apply text-cyan-500 hover:text-red-500;}


@layer base {
    h1 {@apply text-3xl md:text-4xl lg:text-5xl font-semibold text-center uppercase tracking-wider;} 
    h2 {@apply text-2xl md:text-3xl lg:text-4xl font-semibold capitalize;}
    h3 {@apply text-xl md:text-2xl lg:text-3xl font-semibold capitalize;}  
    h4 {@apply text-lg md:text-xl lg:text-2xl font-semibold capitalize;} 
    article, section { @apply space-y-4 md:space-y-6;} 
    p {@apply first-letter:text-2xl first-letter:font-semibold
        lg:text-lg lg:leading-relaxed;
    } 
     
    button, input {@apply focus:outline-none;} 
} 

@layer utilities {  
    .main, .canvas, .modal, .modal-auth {@apply absolute inset-0 lg:overflow-hidden;}  
    .modal, .modal-auth {@apply hidden z-70;} 
    .canvas {@apply z-60;} 
    .container-main {@apply p-4 md:p-6 lg:p-8 space-y-4 md:space-y-6 lg:space-y-8;}
    .container-card {@apply lg:w-3/4 lg:mx-auto m-4 md:m-6 lg:my-8 space-y-4 md:space-y-6 lg:space-y-8;}
    .container-col {@apply lg:flex m-4 md:m-6 lg:m-0 space-y-4 md:space-y-6 lg:space-y-0;} 
    .card {@apply border-2 rounded-2xl shadow-md border-gray-400;}
    .content {@apply p-4 md:p-6 space-y-4 md:space-y-6 lg:space-y-8;}  
    .center {@apply flex flex-col justify-center items-center min-h-screen;} 
    .center-row {@apply flex flex-wrap justify-center;}  
    .space {@apply space-y-4 md:space-y-6 lg:space-y-8;} 
    /* .mL { @apply ml-4 md:ml-6 lg:ml-8;} */

/* navbar */  
/*     .navbar {@apply relative lg:flex px-4 py-4 lg:py-2 uppercase lg:text-lg;}  
	.navbar-menu {@apply lg:flex lg:flex-row lg:flex-grow lg:justify-between lg:items-center border-2 rounded-lg lg:border-none border-gray-400 mt-4 lg:mt-0 p-4 lg:p-0;} 
    .navbar-link  {@apply flex flex-col lg:flex-row lg:items-center my-2 lg:my-0;}   
    .navbar-right {@apply lg:flex lg:items-center lg:ml-auto lg:space-x-6;}
				 
			 */	
    /* .navbar-logo {@apply flex justify-between items-center;} 
    .hamberger {@apply inline-flex items-center;} 
    .navbar-auth {@apply flex space-x-4;}*/
    .signin, .signup {@apply flex cursor-pointer;}
} 
